
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10vh;
  }
  
  .section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40vh;
    width: 100%;
  }
  
  .left-content, .right-content {
    width: 48vw; /* Each content takes half of the viewport width */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left-content {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    text-align: center;
  }
  
  .content-header{
    @font-face {
      font-family: "Inter", sans-serif;
      src: url(https://fonts.googleapis.com/css?family=Inter' rel='stylesheet);
    }
    font-size: 24px;
  }
  
  .content-body{
    @font-face {
      font-family: "Inter", sans-serif;
      src: url(https://fonts.googleapis.com/css?family=Inter' rel='stylesheet);
    }
    font-size: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .right-content {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
  }
  
  
  
  