html {
  font-size: calc(1vw + 1px); /* The base font size will scale with the viewport width */
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.section{
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 77.5vh;
  padding: 20px;
  width: 100vw;
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.left-content, .right-content {
  width: 48vw; /* Each content takes half of the viewport width */
  box-sizing: border-box;
}

.left-content {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  text-align: center;
}

.content-header{
  @font-face {
    font-family: "Inter", sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Inter' rel='stylesheet);
  }
  font-size: 3rem; /* 48px -> 3rem */
}

.content-body{
  @font-face {
    font-family: "Inter", sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Inter' rel='stylesheet);
  }
  font-size: 1.5rem; /* 24px -> 1.5rem */
  font-weight: 300;
  margin-left: 5vw;
  margin-right: 5vw;
}

.right-content {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
}

.scroller-box {
  margin-top: 1vh;
  display: flex;
  font-size: 2rem; /* 32px -> 2rem */
  font-weight: 300;
  height: 30vh;
  width: 30vw;
  padding: 1vw, 1vh;
  overflow-y: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.lang-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  font-size: 2rem; 
  font-weight: 300;

}

.projects-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.divider {
  width: 100%;
  background-color: black; 
  height: 3px; 
  margin-top: 2vh;
}

.project-title{
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

.projects-content{
  width: 50%;
  height: 90%;
  font-size: 1.3rem; 
}

.nav-button2 {
  display: inline-block;
  background-color: transparent; 
  color: black; /* Text color */
  border-radius: 25px; /* Make the buttons round */
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

.nav-button2:hover {
  transform: scale(1.1); /* Scale up the button on hover */
}

.small-button-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  gap: 1vw;
}
