html {
    font-size: calc(1vw + 1px); /* The base font size will scale with the viewport width */
  }

.page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    animation: fade-in 3s;
}


.project-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 57vh;
}

.project-image-content, .project-text-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
}

.project-image-content{
    height:100%;
    width: 48%;
}

.project-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 48%;
    font-weight: 300;
    font-size: 1.5rem;
    padding-right: 2vw;
    padding-left: 2vw;
}

.project-header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-decoration: underline;
    text-underline-offset: 2vh;
    margin-bottom: 2vh;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}

.project-description{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
}